audio {
    display: table;
    margin: 0 auto;
    padding-bottom: 1em;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.space {
	padding-bottom: 1em;
	padding-top: 1em;
}

.decomps{
	display: table;
}

.img-row {
	display: table-row;
}

.img-wrapper {
	display:table-cell;
	width: 50%
}

.equals {
	display:table-cell;
}