
body {
  background-image: url('../images/nice_snow.png');
}
body p span {
  padding: 1em;
}

canvas {
  border: 1px solid;
  width: 100%;
  height: auto;
  background-color: grey; 
}

.center {
  text-align: center;
}

#inspire {
    text-align: center;
    position: fixed;
    bottom: 4em;
    width: 100%;
}

#citations {
    background-image: url('../images/burried.png');
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}